name: E2E Tests

on:
  push:
  pull_request:

jobs:
  test-e2e-self-hosted:
    name: E2E (self-hosted)
    runs-on: self-hosted
    continue-on-error: true
    steps: &test-e2e-steps
      - name: Clone the code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Install the latest version of kind
        run: |
          curl -Lo ./kind https://kind.sigs.k8s.io/dl/latest/kind-linux-$(go env GOARCH)
          chmod +x ./kind
          sudo mv ./kind /usr/local/bin/kind

      - name: Verify kind installation
        run: kind version

      - name: Running Test e2e
        run: |
          go mod tidy
          make test-e2e

  test-e2e-ubuntu:
    name: E2E (ubuntu fallback)
    needs: test-e2e-self-hosted
    if: needs.test-e2e-self-hosted.result != 'success'
    runs-on: ubuntu-latest
    steps: *test-e2e-steps
